---
import { ofetch } from "ofetch"
interface ZennArticle {
  title: string
  slug: string
  article_type: string
  emoji: string
  published_at: string
  user: {
    name: string
    avatar_small_url: string
  }
}
interface ZennContent {
  articles: ZennArticle[]
}
type NoteArticle = {
  key: string;
  name: string;
  eyecatch: (string | null);
  publish_at: string;
  user: {
    name: string;
    urlname: string;
    profile_image_path: string;
  };
};
interface NoteContent {
  data: {
    section: {
      contents: NoteArticle[]
    }
  }
}
const zennData: ZennContent = await ofetch<ZennContent>("https://zenn.dev/api/articles?publication_name=trans&order=latest", {
  parseResponse: JSON.parse,
})
const noteData: NoteContent = await ofetch<NoteContent>("https://note.com/api/v1/layout/magazine/me3717a077c16/section?page=1", {
  parseResponse: JSON.parse,
})
const combinedData: (ZennArticle | NoteArticle)[] = [...zennData.articles, ...noteData.data.section.contents];
const compareDates = (a: { published_at: string } | { publish_at: string }, b: { published_at: string } | { publish_at: string }): number => {
  const dateA = new Date(a.published_at || a.publish_at).getTime();
  const dateB = new Date(b.published_at || b.publish_at).getTime();
  return dateB - dateA;
};
const sortedData = combinedData.sort(compareDates);
---
<div class="grid grid-cols-2 sm:grid-cols-3 gap-2">
  {
    sortedData.map((article: (ZennArticle | NoteArticle)) => {
      if("article_type" in article){
        if(article.article_type == "tech"){
          return <a href={`https://zenn.dev/trans/articles/${article.slug}`} class="no-underline">
            <div class="p-4 min-w-6">
              <div class="aspect-square sms:aspect-oblong rounded-t-xl bg-blue-200 relative p-0 flex items-center justify-center">
                  <div class="text-3xl sm:text-4xl md:text-5xl text-center">{article.emoji}</div>
                  <div class="text-xs text-center absolute left-4 top-3 py-1 px-2 font-bold bg-blue-500 rounded-full text-white">TECH</div>
              </div>
              <div class="border border-1 border-gray-400 p-3 rounded-b-xl shadow-xl border-t-0">
                  <p class="text-sm font-bold line-clamp-3 h-20">{article.title}</p>
                  <div class="flex justify-right items-center mt-4">
                      <img src={article.user.avatar_small_url} class="w-8 rounded-full">
                      <p class="ms-1 text-xs text-gray-500 line-clamp-2">{article.user.name}</p>
                  </div>
              </div>
            </div>
          </a>
        }else{
          return <a href={`https://zenn.dev/trans/articles/${article.slug}`} class="no-underline">
            <div class="p-4 min-w-6">
              <div class="aspect-square sms:aspect-oblong rounded-t-xl bg-violet-200 relative p-0 flex items-center justify-center">
                  <div class="text-3xl sm:text-4xl md:text-5xl text-center">{article.emoji}</div>
                  <div class="text-xs text-center absolute left-4 top-3 py-1 px-2 font-bold bg-violet-500 rounded-full text-white">IDEA</div>
              </div>
              <div class="border border-1 border-gray-400 p-3 rounded-b-xl shadow-xl border-t-0">
                  <p class="text-sm font-bold line-clamp-3 h-20">{article.title}</p>
                  <div class="flex justify-right items-center mt-4">
                      <img src={article.user.avatar_small_url} class="w-8 rounded-full">
                      <p class="ms-1 text-xs text-gray-500 line-clamp-2">{article.user.name}</p>
                  </div>
              </div>
            </div>
          </a>
        }
      }else{
        return <a href={`https://note.com/${article.user.urlname}/n/${article.key}`} class="no-underline">
            <div class="p-4 min-w-6">
                <div class="aspect-square sms:aspect-oblong ">
                    <img src={article.eyecatch ? article.eyecatch : "./no-thumbnail.png"} class="border border-1 border-gray-400 w-full h-full object-cover rounded-t-xl h-full">
                </div>
                <div class="border border-1 border-gray-400 p-3 rounded-b-xl shadow-xl border-t-0">
                    <p class="text-sm font-bold line-clamp-3 h-20">{article.name}</p>
                    <div class="flex justify-right items-center mt-4">
                        <img src={article.user.profile_image_path} class="w-8 rounded-full">
                        <p class="ms-1 text-xs text-gray-500 line-clamp-2">{article.user.name}</p>
                    </div>
                </div>
            </div>
          </a>
      }
    })
</div>
